@font-face{
    font-family: 'MADE TOMMY';
    src: url('MADE TOMMY Thin_PERSONAL USE.otf');
    src: local('MADE TOMMY'), local('MADE TOMMY'),
        url('MADE TOMMY Thin_PERSONAL USE.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: 'MADE TOMMY';
    src: url('MADE TOMMY Light_PERSONAL USE.otf');
    src: local('MADE TOMMY'), local('MADE TOMMY'),
        url('MADE TOMMY Light_PERSONAL USE.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: 'MADE TOMMY';
    src: url('MADE TOMMY Regular_PERSONAL USE.otf');
    src: local('MADE TOMMY'), local('MADE TOMMY'),
        url('MADE TOMMY Regular_PERSONAL USE.otf') format('opentype');
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: 'MADE TOMMY';
    src: url('MADE TOMMY Medium_PERSONAL USE.otf');
    src: local('MADE TOMMY'), local('MADE TOMMY'),
        url('MADE TOMMY Medium_PERSONAL USE.otf') format('opentype');
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: 'MADE TOMMY';
    src: url('MADE TOMMY Bold_PERSONAL USE.otf');
    src: local('MADE TOMMY'), local('MADE TOMMY'),
        url('MADE TOMMY Bold_PERSONAL USE.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: 'MADE TOMMY';
    src: url('MADE TOMMY ExtraBold_PERSONAL USE.otf');
    src: local('MADE TOMMY'), local('MADE TOMMY'),
        url('MADE TOMMY ExtraBold_PERSONAL USE.otf') format('opentype');
    font-style: normal;
    font-weight: 800;
}

@font-face{
    font-family: 'MADE TOMMY';
    src: url('MADE TOMMY Black_PERSONAL USE.otf');
    src: local('MADE TOMMY'), local('MADE TOMMY'),
        url('MADE TOMMY Black_PERSONAL USE.otf') format('opentype');
    font-style: normal;
    font-weight: 900;
}

